.cards{
   
    max-width: 100vh;
    align-items: center;
}
.cards img{
    margin: 10px;
    border: 3px solid red;
    box-shadow: 3px 3px 8px rgba(red, green, blue, alpha);
    max-width: 25vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}